@page
@model InternetClub.RazorPages.Pages.Services.DetailsModel

@{
    ViewData["Title"] = "Детали услуги";
}

<h1>Детали услуги</h1>

<dl class="row">
    <dt class="col-sm-3">Название</dt>
    <dd class="col-sm-9">@Model.Service.Title</dd>

    <dt class="col-sm-3">Цена за минуту</dt>
    <dd class="col-sm-9">@Model.Service.PriceMinutes</dd>
</dl>

<div class="mb-3">
    <a asp-page="./Edit" asp-route-id="@Model.Service.Id" class="btn btn-primary">Редактировать</a>
    <a asp-page="./Index" class="btn btn-secondary">Назад</a>
</div>

