@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это приложение интернет‑клуба на ASP.NET Core Razor Pages.</p>
</div>
