@page
@model PrivacyModel
@{
    var isRu = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru";
    ViewData["Title"] = isRu ? "Политика конфиденциальности" : "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@(isRu ? "Используйте эту страницу, чтобы описать политику конфиденциальности вашего сайта." : "Use this page to detail your site's privacy policy.")</p>
